html, body {
	margin: 0
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	outline: 0 -webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[class*='q-']:before {
	font-family: 'qshop';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.q-star:before {
	content: '\0041';
}

.q-mail:before {
	content: '\0042';
}

.q-favorite:before {
	content: '\0043';
}

.q-favorite-o:before {
	content: '\0044';
}

.q-chat:before {
	content: '\0045';
}

.q-steam:before {
	content: '\0046';
}

.q-epic:before {
	content: '\0047';
}

.q-origin:before {
	content: '\0048';
}

.q-key:before {
	content: '\0049';
}

.q-account:before {
	content: '\004a';
}

.q-shield:before {
	content: '\004b';
}

.q-vpn:before {
	content: '\004c';
}

.q-check:before {
	content: '\004d';
}


.btn.favorite:hover .q-favorite-o:before {
	content: '\0043';
	color: #dc3232;
}

i {
	display: inline-block;
	vertical-align: middle;
	height: 1rem;
	width: 1rem;
	margin-right: 1rem;
}

i.flag_IT {
	background: url(https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/it.svg)
}

i.flag_GB {
	background: url(https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg)
}

/* BODY */
.qshop {
	margin: 0 auto;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.6;
	background: #eff0f5;
	/*width: 100%;
	max-width: 1399px;*/
	color: #212121;
	clear: both;
	overflow: hidden;
	padding: 0 1rem 1rem 1rem;
}

a {
	color: #ee4d2d;
	text-decoration: none
}

hr {
	border-top: 1px solid #eee;
}

b,
h2 {
	font-weight: 500;
}


p,
ol,
ul,
h2 {
	margin: 0 0 1rem 0
}

p:last-child,
ol:last-child,
ul:last-child,
ol ul {
	margin: 0
}

ul,
ol {
	padding: 0 0 0 1rem;
}

ol ul,
ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


ol ul li:before,
ul ul li:before {
	content: "-";
	margin-right: .5rem;
}

header {
	padding: 1rem
}

/* LAYOUT */
#main {
	width: 75%;
	float: right;
}

#sidebar {
	width: calc(25% - 1rem);
	float: left;
}

/* TABS */
#tabs [type=radio] {
	display: none;
}

#tabs label {
	display: inline-block;
	padding: 0 1rem;
	float: right;
	text-align: center;
	border-left: 1px solid #ddd;
	margin: 1rem 0;
}

#tabs label i {
	width: 1.3rem;
	height: 1rem;
	margin-right: .5rem;
}

#tabs label:last-of-type {
	border: 0;
}

#tabs [type=radio]:not(:checked)+label:hover {
	color: #ee4d2d;
	cursor: pointer;
}

#tabs [type=radio]:checked+label {
	font-weight: 700;
}

#tabs .tab {
	display: none;
	clear: both;
	overflow: hidden;
}

#tabs #tab-IT:checked~.pane-IT,
#tabs #tab-EN:checked~.pane-EN {
	display: block;
}

/* SIDEBAR */
.seller,
.avatar {
	background: #aaa url(https://i.ebayimg.com/00/s/MzAwWDMwMA==/z/c7cAAOSwuDteuNG8/$_7.PNG) no-repeat;
	background-size: cover;
}

.seller {
	width: 100%;
	text-align: center;
	background-position: 50% 50%;
}

.seller span,
.seller a {
	display: block;
}

.seller a {
	color: #fff;
}

.seller span i {
	color: orange;
	margin: .1rem
}

.seller .mask {
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
	padding: 1.5rem 0;
}

.seller .avatar {
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	border: .2rem solid #fff;
	margin: 0 auto;
	margin-bottom: .5rem;
}

/* SHOP LINK */
.shop_link {
	text-align: center;
	padding: .5rem;
}

.shop_link .btn {
	margin: .5rem;
	width: 7rem;
}

.shop_link .btn i {
	font-size: 0.857rem;
	margin-right: .25rem;
}

/* CATEGORIES */
.category i {
	font-size: 1rem;
	height: 1rem;
	width: 1rem;
	color: #606060;
}

.category nav {
	padding-bottom: .5rem;
}

.category a {
	display: block;
	padding: .75rem 0;
	color: #212121;
	padding: .75rem 1.5rem;
}

.category a:hover {
	background: #f7f7f7;
}

.category .topic {
	font-size: 0.75rem;
	padding: 0 1.5rem;
	margin: 1rem 0 .5rem 0
}

.category ul {
	list-style: none;
	padding: 0;
	margin: 0
}

/* BUTTONS */
.btn {
	display: inline-block;
	background: #fff;
	color: #555;
	font-size: 0.857rem;
	padding: .3rem 1rem;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: center;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .03);
}

.btn:hover {
	background: #fafafa;
	border-color: #bbb
}

.btn.contact {
	background: rgba(208, 1, 27, .08);
	border-color: #e22318;
	color: #e22318;
}

.btn.contact:hover {
	background: rgba(208, 1, 27, .12);
}

.btn.dark {
	background: #ee4d2d;
	border-color: #ee4d2d;
	color: #fff;
	padding: .5rem 1rem;
}

.btn.dark:hover {
	background: #fe4d2d;
}

.btn.full {
	display: block;
}

/* CARD */
.card {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
	margin-bottom: 1rem;
}

.card.alert {
	background: #f1f8fe;
	border: 1px solid #b8daff;
	box-shadow: none;
	color: rgba(0, 0, 0, .8);
}

.card .title {
	background: #fafafa;
	padding: 1rem 1.5rem;
	font-weight: 700;
}

.card .content {
	padding: 1rem 1.5rem;
}

.card .content a {
	text-decoration: underline;
}

.card .content h2 {
	font-size: 1.25rem;
	vertical-align: middle
}

/* CHECK LIST */
.check_list {
	list-style: none;
	padding: 0;
}

.check_list>li {
	padding-left: 1.5rem;
}

.check_list>li:before {
	content: "\004d";
	font-family: "qshop";
	display: inline-block;
	vertical-align: middle;
	margin-left: -1.5rem;
	margin-right: .5rem;
	width: 1rem;
	color: #0078d4;
}

/* VIDEO EMBED */
.trailer {
	background: #000;
	position: relative;
	padding-top: 40%;
	margin-bottom: 1rem;
	margin-top: -1rem;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
}

.trailer video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* FAQ */
.faq {
	padding: .75rem 0;
	border-bottom: 1px solid #eff0f5;
}

.faq:first-child {
	padding-top: 0;
}

.faq:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

.faq_q {
	font-weight: 500;
}

.faq_q::before {
	font-family: "qshop";
	font-size: 1.2rem;
	vertical-align: middle;
	margin-right: 1rem;
	content: "\0045";
	color: #25a5d8;
}

.faq_a {
	padding-left: 2.2rem;
}

/*BADGE */
.badge {
	font-weight: 300;
	font-size: 0.7rem;
	color: #fff;
	background: #0078d4;
	border-radius: 2px;
	padding: 1px 5px;
	margin-right: .5rem;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

/* MOBILE */
@media only screen and (max-width: 767px) {

	body {
		margin: 0
	}

	#sidebar,
	.faq_q::before{
		display: none
	}

	#main {
		width: 100%;
	}

	.qshop {
		background: #fff;
		padding: 0
	}

	.card {
		box-shadow: none;
		border-radius: 0;
	}

	.card.alert {
		border: 0;
	}

	.card .title {
		text-align: center;
	}

	.card .content {
		padding: 1rem .5rem;
	}

	.trailer {
		padding-top: 56.25%;
	}

	.faq_a {
		padding: 0
	}
}
